# Image settings
{% if ansible_facts['os_family'] | lower == "debian" %}
registry:
  host: registry.opensuse.org
{% endif %}
{% if server_release is defined %}
{% if server_image_name_server is defined %}
image: {{ server_image_name_server }}
{% endif %}

{% if server_image_name_database is defined %}
pgsql:
  image: {{ server_image_name_database }}
{% endif %}

{% if server_image_name_coco is defined %}
coco:
  image: {{ server_image_name_coco }}
{% endif %}

{% if server_image_name_hubxmlrpc is defined %}
hubxmlrpc:
  image: {{ server_image_name_hubxmlrpc }}
{% endif %}

{% if server_image_name_saline is defined %}
saline:
  image: {{ server_image_name_saline }}
{% endif %}

{% if server_image_name_tftpd is defined %}
tftpd:
  image: {{ server_image_name_tftpd }}
{% endif %}
{% endif %}

# SSL settings
ssl:
  city: {{ server_cert_city }}
  country: {{ server_cert_country }}
  org: {{ server_cert_o }}
  ou: {{ server_cert_ou }}
  password: {{ server_cert_pass }}
  state: {{ server_cert_state }}

# Organization name
organization: {{ server_org_name }}

# Email address sending the notifications
emailFrom: {{ server_mail }}

# Administrators account details
admin:
  password: {{ server_org_password }}
  login: {{ server_org_login }}
  firstName: {{ server_org_first_name }}
  lastName: {{ server_org_last_name }}
  email: {{ server_org_mail }}
